[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=5.1"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
django-environ = "*"
django-cors-headers = "*"
django-filter = "*"
drf-spectacular = "*"
psycopg = {extras = ["binary"], version = "*"}
gunicorn = "*"
httpx = "*"
pyotp = ">=2.10.0,<3"
PyJWT = ">=2.8,<3"

[dev-packages]
ruff = "*"
pytest = "*"
pytest-django = "*"
pytest-cov = "*"
factory-boy = "*"
pre-commit = "*"

[requires]
python_version = "3.13"
